#grid {
  display: grid;
  grid-template-rows: repeat(45, 1fr);
  grid-template-columns: repeat(45, 1fr);
  height: 98vh;
  width: 99vw;
}

.row {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  aspect-ratio: 1/1;
  

}

.cell {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  aspect-ratio: 1/1;
  
}